In [8]:
# Haversine distance formula
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, timedelta

from w210_attribute_library import haversine_distance, checkwsquality, ws_tile_pairs, ws_tile_pair_final

datdir = "../data/"
attrs = "../attrs/"

## Read Weather Data

In [9]:
fweather = 'weather_data.csv'
dfw = pd.read_csv(datdir+fweather)
dfw["DateD"] = dfw.apply(lambda row: datetime.strptime(str(row["year"])+"-"+str(row["mo"])+"-"+str(row["da"]),"%Y-%m-%d") ,axis=1)
print(len(dfw))

pivot = np.round(pd.pivot_table(dfw, values='prcp', 
                                index='year', 
                                columns='mo', 
                                aggfunc='count'),2)
pivot

291511

mo,1,2,3,4,5,6,7,8,9,10,11,12
year,,,,,,,,,,,,
2015,3541.0,3186.0,3500.0,3366.0,3450.0,3331.0,3403.0,3357.0,3207.0,3306.0,3208.0,3292.0
2016,3274.0,3131.0,3377.0,3251.0,3309.0,3221.0,3333.0,3363.0,3211.0,3288.0,3205.0,3376.0
2017,3333.0,3098.0,3380.0,3264.0,3473.0,3337.0,3412.0,3356.0,3146.0,3321.0,3136.0,3212.0
2018,3484.0,3151.0,3449.0,3260.0,2619.0,2492.0,2582.0,2624.0,2503.0,2525.0,2454.0,2543.0
2019,3453.0,3113.0,3419.0,3301.0,3419.0,3255.0,3452.0,3450.0,3343.0,3408.0,3321.0,3440.0
2020,3409.0,3177.0,3346.0,3248.0,3372.0,3268.0,3380.0,3356.0,3187.0,3350.0,3245.0,3376.0
2021,3312.0,2882.0,3297.0,3346.0,3417.0,3303.0,3380.0,3367.0,3236.0,3339.0,3290.0,3387.0
2022,3422.0,3121.0,3456.0,3351.0,3404.0,2473.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
wsnames = set(dfw["stn_wban"].unique())
ws = dfw[['stn_wban', "name", "lon", "lat"]].drop_duplicates()
ws.columns = ["Key", 'name', 'lon_w', 'lat_w']
print(len(wsnames),len(ws))

duplicateName = ['WHITING FIELD NAVAL AIR STATI', 'KEYSTONE AIRPARK']
ws[(ws['name'].isin(duplicateName))]

126 126

                 Key                           name   lon_w   lat_w
58      749048_99999               KEYSTONE AIRPARK -82.048  29.845
19492   720383_53847  WHITING FIELD NAVAL AIR STATI -87.023  30.704
166418  722226_93841  WHITING FIELD NAVAL AIR STATI -87.017  30.717
219704  749048_00415               KEYSTONE AIRPARK -82.048  29.845

### Process 365 Data

In [11]:
df365 = ws_tile_pair_final(attrs+"model_sat_sh_attr_365.csv", ws, dfw)

# Final Quality Control Check
wsgood, wsnogood = checkwsquality(df365, dfw)
print(len(wsnogood))

# Save File - assuming wsnogood is ZERO
df365.to_csv(attrs+"model_wspair_sat_sh_attr_365.csv", index=False)

/Users/carlosmoreno/w210/Notebooks/w210_Model_Final_Data/notebook_attr_gen/w210_attribute_library.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfF.drop_duplicates(subset=['Key_x'], inplace=True)

No good:  8
Cumulative no good:  ['722012_92817', '999999_63890', '720672_00485', '722261_99999', '747761_99999', '722224_53862', '749045_99999', '998305_99999']

/Users/carlosmoreno/w210/Notebooks/w210_Model_Final_Data/notebook_attr_gen/w210_attribute_library.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfF.drop_duplicates(subset=['Key_x'], inplace=True)

No good:  1
Cumulative no good:  ['722012_92817', '999999_63890', '720672_00485', '722261_99999', '747761_99999', '722224_53862', '749045_99999', '998305_99999', '747960_99999']

/Users/carlosmoreno/w210/Notebooks/w210_Model_Final_Data/notebook_attr_gen/w210_attribute_library.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfF.drop_duplicates(subset=['Key_x'], inplace=True)

No good:  0
0

### Repeat Process for 60 days

In [12]:
df60 = ws_tile_pair_final(attrs+"model_sat_sh_attr_60.csv", ws, dfw)

# Final Quality Control Check
wsgood, wsnogood = checkwsquality(df60, dfw)
print(len(wsnogood))

# Save File - assuming wsnogood is ZERO
df60.to_csv(attrs+"model_wspair_sat_sh_attr_60.csv", index=False)

/Users/carlosmoreno/w210/Notebooks/w210_Model_Final_Data/notebook_attr_gen/w210_attribute_library.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfF.drop_duplicates(subset=['Key_x'], inplace=True)

No good:  8
Cumulative no good:  ['722012_92817', '999999_63890', '722261_99999', '720672_00485', '747761_99999', '722224_53862', '749045_99999', '998305_99999']

/Users/carlosmoreno/w210/Notebooks/w210_Model_Final_Data/notebook_attr_gen/w210_attribute_library.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfF.drop_duplicates(subset=['Key_x'], inplace=True)

No good:  1
Cumulative no good:  ['722012_92817', '999999_63890', '722261_99999', '720672_00485', '747761_99999', '722224_53862', '749045_99999', '998305_99999', '747960_99999']

/Users/carlosmoreno/w210/Notebooks/w210_Model_Final_Data/notebook_attr_gen/w210_attribute_library.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfF.drop_duplicates(subset=['Key_x'], inplace=True)

No good:  0
0

## Repeat Process for 0 days

In [13]:
df0 = ws_tile_pair_final(attrs+"model_sat_sh_attr_0.csv", ws, dfw)

# Final Quality Control Check
wsgood, wsnogood = checkwsquality(df0, dfw)
print(len(wsnogood))

# Save File - assuming wsnogood is ZERO
df0.to_csv(attrs+"model_wspair_sat_sh_attr_0.csv", index=False)

/Users/carlosmoreno/w210/Notebooks/w210_Model_Final_Data/notebook_attr_gen/w210_attribute_library.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfF.drop_duplicates(subset=['Key_x'], inplace=True)

No good:  8
Cumulative no good:  ['998305_99999', '999999_63890', '722261_99999', '720672_00485', '747761_99999', '722224_53862', '749045_99999', '722012_92817']

/Users/carlosmoreno/w210/Notebooks/w210_Model_Final_Data/notebook_attr_gen/w210_attribute_library.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfF.drop_duplicates(subset=['Key_x'], inplace=True)

No good:  1
Cumulative no good:  ['998305_99999', '999999_63890', '722261_99999', '720672_00485', '747761_99999', '722224_53862', '749045_99999', '722012_92817', '747960_99999']

/Users/carlosmoreno/w210/Notebooks/w210_Model_Final_Data/notebook_attr_gen/w210_attribute_library.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfF.drop_duplicates(subset=['Key_x'], inplace=True)

No good:  0
0