In [24]:
import numpy as np
import pandas as pd

datadir = "../data/"
attrs = "../attrs/"

## Read Current Sinkhole/Soil 365 delta and Satellite Attribute File

In [25]:
minput1 = pd.read_csv(attrs+"model_sh_soil_attr_365_1.csv")
minput1.head(1)

,Unnamed: 0,Key,name,OBJECTID,Sinkhole,X,Y,Year,EVENT_DATE,DateD,...,Center Latitude,Center Longitude,Calcium Carbonate,Gypsum,Soil Health Organic Matter,Percent Clay,Percent Sand,Percent Silt,Available Water Storage,Distance
0,427,428_1_0,428-2018-12-11-2019-02-09-6.0.jpeg,428,1,-81.932475,28.944928,2019,2019/12/11 00:00:00+00,2019-12-11,...,28.714294,-82.074715,0.06,0,4.52471,11.1016,78.8572,4.4627,22.13886,18.132743

## Read Weather 365 Attributes

In [26]:
wsf = pd.read_excel(attrs+"model_ws_attr_365.xlsx")
wsf.head(1)

,Key,Key_y,date_ws,name,lon_t,lat_t,lon_w,lat_w,Distance,rolling_7_precip,...,y2_mean_prc,y2_max_prc,y2_mean_tmp,y2_max_tmp,y2_min_tmp,y3_mean_prc,y3_max_prc,y3_mean_tmp,y3_max_tmp,y3_min_tmp
0,428_1_0,722213_12819,2018-12-11,LEESBURG REGIONAL AIRPORT,-81.932475,28.944928,-81.81,28.821,11.336137,0.97,...,0.159808,8.05,73.990959,86.8,41.4,0.113918,2.41,73.054521,87.1,42.4

## Merge Files

In [27]:
finEvents = pd.merge(minput1, wsf, on="Key")
len(finEvents)

275

In [28]:
pivot = np.round(pd.pivot_table(finEvents, values='Year', 
                                index='Sinkhole', 
                                columns='Group', 
                                aggfunc='count'),2)
pivot

Group        0     1     2
Sinkhole
0          NaN  92.0  91.0
1         92.0   NaN   NaN

## Read Karst Data - Elizabeth

In [29]:
karst = pd.read_excel(datadir+"w210_karst.xlsx", sheet_name="KARST")
karst.head()

       Key  gridcode
0  428_1_0         2
1  429_1_0         2
2  431_1_0         1
3  435_1_0         1
4  544_1_0         1

## Join Karst and Other Attributes

In [30]:
finEvents = pd.merge(finEvents, karst, on="Key")
pivot = np.round(pd.pivot_table(finEvents, values='Year', 
                                index='Sinkhole', 
                                columns='Group', 
                                aggfunc='count'),2)
pivot

Group        0     1     2
Sinkhole
0          NaN  92.0  91.0
1         89.0   NaN   NaN

In [31]:
finEvents.columns

Index(['Unnamed: 0', 'Key', 'name_x', 'OBJECTID', 'Sinkhole', 'X', 'Y', 'Year',
       'EVENT_DATE', 'DateD', 'Group', 'l25', 'l50', 'l75', 'l100', 'l150',
       'l200', 'l250', 'l300', 'l500', 'l750', 'l1000', 'l1000plus', 'coloc',
       'Y25', 'Y50', 'Y75', 'Y100', 'Y150', 'Y200', 'Y250', 'Y300', 'Y500',
       'Y750', 'Y1000', 'Y1000plus', 'Ycoloc', 'County', 'Center Latitude',
       'Center Longitude', 'Calcium Carbonate', 'Gypsum',
       'Soil Health Organic Matter', 'Percent Clay', 'Percent Sand',
       'Percent Silt', 'Available Water Storage', 'Distance_x', 'Key_y',
       'date_ws', 'name_y', 'lon_t', 'lat_t', 'lon_w', 'lat_w', 'Distance_y',
       'rolling_7_precip', 'rolling_15_precip', 'rolling_30_precip',
       'rolling_60_precip', 'rolling_90_precip', 'y1_mean_prc', 'y1_max_prc',
       'y1_mean_tmp', 'y1_max_tmp', 'y1_min_tmp', 'y2_mean_prc', 'y2_max_prc',
       'y2_mean_tmp', 'y2_max_tmp', 'y2_min_tmp', 'y3_mean_prc', 'y3_max_prc',
       'y3_mean_tmp', 'y3_max_tmp', 'y3_min_tmp', 'gridcode'],
      dtype='object')

## Save File for Model

In [32]:
finEvents.to_csv(attrs+"model_sh_soil_wf_kars_365.csv", index=False)

## Read Current Sinkhole/Soil 0 days delta

In [33]:
# Read File SH and Soil attribute with 0 days delta
minput1 = pd.read_csv(attrs+"model_sh_soil_attr_0_1.csv")

# Read File WS feature 9 days delta
wsf = pd.read_excel(attrs+"model_ws_attr_0.xlsx")

# Merge Files
finEvents = pd.merge(minput1, wsf, on="Key")

# Read Karst Indicator file
karst = pd.read_excel(datadir+"w210_karst.xlsx", sheet_name="KARST")

# Merge Karst File
finEvents = pd.merge(finEvents, karst, on="Key")
pivot = np.round(pd.pivot_table(finEvents, values='Year', 
                                index='Sinkhole', 
                                columns='Group', 
                                aggfunc='count'),2)

finEvents.to_csv(attrs+"model_sh_soil_wf_kars_0.csv", index=False)

pivot

Group        0     1     2
Sinkhole
0          NaN  92.0  91.0
1         89.0   NaN   NaN