In [8]:
import fiona
from shapely.geometry import Point, Polygon
import geopandas as gpd
import pandas as pd

import numpy as np
import pandas as pd
import datetime
from datetime import datetime
import os
import datetime
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import math

from w210_sh_library_scale import shAttributes, getdate, haversine_distance, tilekey

datdir = "../data/"

## Read Sinkhole Data

In [2]:
df_sh = pd.read_excel(datdir+"Florida_Subsidence_Incident_Reports.xlsx", sheet_name=0)
df_sh["DateD"] = df_sh.apply(lambda row: getdate(row["EVENT_DATE"]), axis=1)
df_sh.head(2)

/var/folders/f3/z2y9_l5x2ddfrpzb4m7jw6_w0000gn/T/ipykernel_1921/4039278672.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df_sh["DateD"] = df_sh.apply(lambda row: getdate(row["EVENT_DATE"]), axis=1)

,X,Y,OBJECTID,REF_NUM,DATE_REV,EVENT_DATE,Year,TRUE_SINK,LONGDD,LATDD,...,CAVVIS,SUBRATE,PROPDAM,REPAIR_S,DRAINSTR,SOILTYPE,COMMENTS,COMMENTS_2,ACCESS_,DateD
0,-82.187100,27.758900,1,10-769,2015/12/23 00:00:00+00,1974/04/07 00:00:00+00,1974.0,U,-82.187097,27.758895,...,U,U,Y,Unknown,Unknown,UNKNOWN,BALM SINKHOLE. FIVE ORANGE TREES FELL INTO HOL...,"LEFT IN POSITION, AS GIVEN BY CK 10/5/12. ONE ...",9.1 MILES EAST OF S.R. 301 ON S.R. 672. 1350 F...,1974-04-07
1,-81.799854,28.667132,2,11-538,2016/04/28 00:00:00+00,1989/12/24 00:00:00+00,1989.0,U,-81.799850,28.667130,...,U,R,N,Planned,Unknown,UNK,THERE IS TWO SINKHOLES ON THIS SITE; SMALL SIN...,Accurate to the groves in section 10,"HI-ACRE GROVES, O'BRIEN RD. CLERMONT, FL ...",1989-12-24

## Read Tile Data

In [3]:
ftileslarge = 'largetiles.csv'
dftiles_large = pd.read_csv(datdir+ftileslarge)
dftiles_large["Key"] = dftiles_large.apply(lambda row: tilekey(row), axis=1)
dftiles_large["DateD"] = datetime.strptime("2022/05/01","%Y/%m/%d")
print(len(dftiles_large))
dftiles_large.head(2)

355

   Unnamed: 0    lon      lat    County  CountyFP   Key      DateD
0           0 -87.55  30.9776  Escambia        33  33_0 2022-05-01
1           1 -87.35  30.9776  Escambia        33  33_1 2022-05-01

In [4]:
len(dftiles_large["Key"].unique())

355

In [5]:
ftilessmall = 'smalltiles.csv'
dftiles_small = pd.read_csv(datdir+ftilessmall)
dftiles_small["Key"] = dftiles_small.apply(lambda row: tilekey(row), axis=1)
dftiles_small["DateD"] = datetime.strptime("2022/05/01","%Y/%m/%d")
print(len(dftiles_small))
dftiles_small.head(2)

96476

   Unnamed: 0     lon      lat    County  CountyFP   Key      DateD
0           0 -87.550  30.9776  Escambia        33  33_0 2022-05-01
1           1 -87.538  30.9776  Escambia        33  33_1 2022-05-01

In [6]:
len(dftiles_small["Key"].unique())

96476

## Generating Sinkhole Features

In [10]:
daysdelta = timedelta(0)
large_tiles_sh = shAttributes(df_sh, dftiles_large, daysdelta)

31

In [11]:
large_tiles_sh.head(2)

,Key,CountyFP,County,lon,lat,l25,l50,l75,l100,l150,...,Y100,Y150,Y200,Y250,Y300,Y500,Y750,Y1000,Y1000plus,Ycoloc
0,33_0,33,Escambia,-87.55,30.9776,0,0,0,0,0,...,0,0,0,0,0,0,0,0,101198,0
1,33_1,33,Escambia,-87.35,30.9776,0,0,0,0,0,...,0,0,0,0,0,0,0,0,101198,0

In [12]:
large_tiles_sh.to_excel(datdir+"large_tiles_sh.xlsx")

In [13]:
len(large_tiles_sh)

355

### SH Atttibutes for Small Tiles

In [ ]:
dated = datetime.strptime("2022/05/01","%Y/%m/%d")
small_tiles_sh = shAttributes(df_sh, dftiles_small, dated)

In [ ]:
small_tiles_sh.to_excel(datdir+"small_tiles_sh.xlsx")